.carousel-control-next, .carousel-control-prev{
    max-width: 50px;
    background-color: #21252924; /* Estilos de los botones anterior y siguiente imagen*/
    margin-right: 20px;
    margin-left: 20px;
}

.w-100{
    max-width: 350px;  /* Esstilos de la imagen */
    margin-left: 32%;
}

.h1, h1{
    text-align: center;
    color: #ff8507b3; /* Estilos del título*/
    background-color: #dae0e5; 
}

.h1, .h5, h1, h5{
    font-weight: 0; /* Estilos de la funte de letras (mientras mas tamaño, menos grosor tendrá la letra)*/
}

.h5, h5 {
    color: red; 
    margin-left: 15pc; /*Estilo precio descuento*/
}

p {
    margin-top: -10px;
    margin-left: 15pc; /* Estilo precio normal */
    color: black;
}
